@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&display=swap');

:root {
    --ocre-medio: #d5a370;
    --bege: #f5d4b3;
    --texto-marrom: #281c05;
    --texto-marrom-medio: #483001;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 200px;
    background: linear-gradient(#f5d4b3 20%, #94c1df 70%, #3c87d5 100%);
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 5;
}

.caixa-header {
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(#3180d4 0%, #1E59BD 100%);
    background-image: url('./img/bg_header.png');
    background-size: cover;
    background-position: bottom;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.logo_cabecalho {
    width: 100px;
    height: 100px;
    margin: 10px 30px;
}

.caixa-header h1 {
    padding: 25px 0;
    font-size: 4vw;
    color: #FFF;
    text-shadow: 5px 5px 0 #333;
}

nav {
    background: var(--ocre-medio);
    /* padding: 0 0 10px 20px;   */
    box-shadow: 0 5px 10px;
    padding-left: 25px;
}

nav li {
    display: inline;
    color: var(--texto-marrom);
    cursor: pointer;
}

nav button {
    font-size: 1.2em;
    padding: 7px 10px;
}

nav button:hover {
    background: var(--texto-marrom-medio);
    color: var(--ocre-medio);

}

main {
    min-height: 55vh;
}

.caixa-main {
    padding-bottom: 50px;
}

.caixa-main ul {

    padding: 5vh 10vw;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 5vh 3vw;
}

.card-conteudo {
    background: var(--ocre-medio);
    border: 1px solid var(--texto-marrom);
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}

.card-conteudo:hover {
    transform: scale(1.1);
}

.card-conteudo li:focus {
    transform: scale(1.1);
}

.caixa-main h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--texto-marrom);
    padding: 0.5em 0 0 25px;
}

.caixa-main h4 {
    color: var(--texto-marrom-medio);
    padding: 0.4em 0 0 25px;
}

.favorito::before {
    margin-left: 20px;
    padding: 5px;
    content: '🤍';
    font-size: 1.2em;
}

.favorito:hover,
.favorito:focus {
    transform: scale(1.3);
}

.clicado::before {
    content: '❤️';
}

.caixa-main li img {
    width: 100%;
}

.hide {
    display: none;
}

.ativa {
    background-color: var(--texto-marrom);
    color: var(--bege);
    box-shadow: 0px 0px 7px 5px #309ae0;
}

footer {
    background-image: url('./img/bg_footer.png');
    background-size: cover;
    text-align: center;
}

.logo_footer {
    width: 120px;
    padding-top: 15px;
}

footer p {
    font-size: 0.8em;
    padding: 5px;
    padding-bottom: 15px;
}


/* ===============================  CSS das páginas de conteudo   ========================================== */
.pagina_conteudo {
    width: 75vw;
    margin: 0 auto
}

.pagina_conteudo h2 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: var(--texto-marrom);
    font-size: 4vw;
    padding: 25px;
}

.conteudo-banner {
    margin: 15px 0 40px 0;
}

.pagina_conteudo p {
    font-size: 1.2em;
    padding: 1em 0;
}

.conteudo-capa {
    width: 30vw;
    float: right;
    margin: 20px 0 20px 20px;
}

.video {
    width: 560px;
    margin: 50px auto;
}




/*========================================== CSS Mobile ====================================================*/

@media screen and (max-width: 400px) {
    body{
        margin-top: 50px;
    }
    
    .logo_cabecalho {
        width: 80px;
        height: 80px;
        margin: 15px
    }

    .caixa-header h1 {
        padding: 25px 0;
        font-size: 9vw;
        color: #FFF;
        text-shadow: 5px 5px 0 #333;
    }

    .caixa-main ul {

        padding: 5vh 10vw;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    ul {
        margin: 0 25px;
    }

    nav li {
        display: inline-block;

    }

    nav button {
        padding: 5px;
        margin: 3px
    }

    .logo_footer {
        width: 90px;
    }

    .pagina_conteudo {
        width: 90vw;
        margin: 0 auto
    }

    .video {
        width: auto;
    }

}